CompileFlags:
  Remove:
    - -forward-unknown-to-host-compiler
    - --options-file
    - -arch=native
    - -G
    - -rdc=true
---
If:
  PathMatch: [.*\.cpp, .*\.h, .*\.hpp]

CompileFlags:
  Add:
    - -xc++
    - -I/usr/local/cuda-13.0/targets/x86_64-linux/include
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Werror
    - -Winit-self
    - -Wno-strict-aliasing
    - -fno-omit-frame-pointer
    - -fstack-protector-all
    - -Wdeprecated-declarations
---
If:
  PathMatch: .*\.cu

CompileFlags:
  Add:
    - -xcuda
    - -I/usr/local/cuda-13.0/targets/x86_64-linux/include/cccl/
    - -O3
