# CompileFlags:
#   Add:
#     - -I/usr/local/cuda-13.0/targets/x86_64-linux/include/cccl/thrust/
#     - -I/usr/local/cuda-13.0/targets/x86_64-linux/include
#     - -L/usr/local/cuda-13.0/targets/x86_64-linux/lib64
#     - -I/usr/include/c++/15
#     - -I/usr/include/c++/15/x86_64-redhat-linux
#     - -I/usr/include/c++/15/backward
#   Remove:
#     - -forward-unknown-to-host-compiler
#     - --options-file
#     - -arch=native
#     - -G
CompileFlags:
  Remove:
    - -forward-unknown-to-host-compiler
    - --options-file
    - -arch=native
    - -G
    - -rdc=true
---
If:
  PathMatch: [.*\.cpp, .*\.h, .*\.hpp]

CompileFlags:
  Add:
    - -xc++
    - -I/usr/local/cuda-13.0/targets/x86_64-linux/include
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Werror
    - -Winit-self
    - -Wno-strict-aliasing
    - -fno-omit-frame-pointer
    - -fstack-protector-all
    - -Wdeprecated-declarations
---
If:
  PathMatch: .*\.cu

CompileFlags:
  Add: 
  - -xcuda
